section.achievments
  h3.h3-caps.title.c20.bold.
    Досягнення
  .carousel-wrap
    .carousel 
      .content(style="margin-left: 0;")#carouselachive 
        .item.bg1
          img.image(src="../assets/images/achievments/achive_1.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_2.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_3.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_4.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_4.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_1.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_3.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_2.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_3.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_4.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_2.png", alt="")
        .item.bg1
          img.image(src="../assets/images/achievments/achive_1.png", alt="")
  