section.advantages 
  .content 
    .introduction
      h1.title.hero.gradient__right.bold.
        Перевертаємо уявлення про юридичні послуги.
      p.text-1.c19.
        Консолідуючи багаторічний досвід і практику, юристи компанії
        супроводжують складні проекти і досягають прийняття ряду
        важливих для галузі рішень. Багато з них формують практику
        застосування морського права в Україні.
      p.text-2.c19.
        Prolegals – надійний бізнес-партнер, що підтверджується
        стабільним співробітництвом з міжнародними юридичними
        фірмами, довірою великих українських і міжнародних компаній,
        визнанням професійних рейтингів.
    .advantages-block
      .item
        .title
          p.icon-flag.c4
          p.number.gradient__right.
            10+
        p.text.c20.
          років релевантного досвіду
      .item
        .title
          p.icon-case2.c4
          p.number.gradient__right.
            30+
        p.text.c20.
          активних клієнтів, які довіряють нам свої доручення щомісячно
      .item
        .title
          p.icon-star.c4
          p.number.gradient__right.
            500+
        p.text.c20.
          годин роботи «pro bono» щорічно 
        