section.cases
  .grid
    .item.item_1.bg6
      h3.title.h3-caps.bold.c4 Успішні кейси
    .item.item_2.bg6 
      h3.title.h3.medium.c5 Супровід проекту з купівлі-продажу сільськогосподарської продукції
      p.subtitle.paragraph.c7 Hillel IT School
    .item.item_3.bg6
      h3.title.h3.medium.c5 Підготовка комплексного юридичного висновку для європейського банку
      p.subtitle.paragraph.c7 WannaBiz
    .item.item_4.bg6
      h3.title.h3.medium.c5 Супровід проекту з купівлі-продажу сільськогосподарської продукції
      p.subtitle.paragraph.c7 tapgerine
    .item.item_5.bg6
      h3.title.h3.medium.c5 Представництво інтересів великого зернотрейдера в податковому спорі
      p.subtitle.paragraph.c7 3D LOOK
    .item.item_6.bg6
      h3.title.h3.medium.c5 Оскарження податкових повідомлень-рішень ДФС
      p.subtitle.paragraph.c7 adtelligent
    .item.item_7.bg6
      h3.title.h3.medium.c5 Супровід проекту з кредитування агротрейдерів мальтійським банком
      p.subtitle.paragraph.c7 Clikky