section.clients 
  h3.title.h3-caps.bold.c20 Вже довіряють нам
  .clients-wrap 
    .item.bg8
      img.image(src="assets/images/clients/hilel.png")
    .item.bg9
      img.image(src="assets/images/clients/wannabiz.png")
    .item.bg10
      img.image(src="assets/images/clients/tapgerin.png")
    .item.bg11
      img.image(src="assets/images/clients/3d_look.png")
    .item.bg12
      img.image(src="assets/images/clients/orangear.png")
    .item.bg13
      img.image(src="assets/images/clients/adtelligent.png")
    .item.bg14
      img.image(src="assets/images/clients/clickky.png")
    .item.bg15
      img.image(src="assets/images/clients/ecoleasing.png")
    .item.bg16
      img.image(src="assets/images/clients/infratek.png")
    .item.bg17
      img.image(src="assets/images/clients/city_park.png")
    .item.bg18
      img.image(src="assets/images/clients/art-print.png")
    .item.bg19
      img.image(src="assets/images/clients/ultimate_card.png")

        
        
