section.entry 
  .content 
    h2.title.h2.c20.medium.
      Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR
    p.date. 
      29 вересня
    hr.line.bg22 
    p.text.paragraph.c19.
      21 січня Національна комісія із захисту даних Франції (СNIL) повідомила на своєму сайті,
      що наклала штраф на Google за порушення Загального регламенту ЄС про захист даних (GDPR).
      Півроку знадобилося країнам ЄС для того, аби зробити якісний левел-ап у розмірах штрафів
      за недотримання даного нормативу. До цього штрафували в основному на 20 000–30 000 євро,
      а найбільший штраф склав 400 000 євро і стосувався госпіталю в Португалії. Але цей прецедент 
      цікавий не стільки сумою штрафу, скільки жорсткістю підходів регулятора. Чому саме, спеціально
      для Mind пояснює акціонерний партнер Axon Partners Денис Береговий.
    p.text.paragraph.c19.
      За що? Групові скарги на Google прилетіли до СNIL в той самий день, коли GDPR набрав чинності.
      Скаржники повідомляли про обробку Google персональних даних користувачів без належних підстав,
      зокрема, з метою створення персоналізованих рекламних пропозицій.