section.entry-part
  .content 
    h3.title.h3.c20.medium.
      За результатами перевірок СNIL виявили порушення двох вимог GDPR:
    ul.list
      li.item
        span.item-number.paragraph.c4.bold. 
          1.
        p.text.paragraph.c19. 
          Прозорість та поінформованість користувачів про обробку персональних даних.
      li.item
        span.item-number.paragraph.c4.bold.
          2.
        p.text.paragraph.c19. 
          Відсутність належної згоди користувачів для обробки персональних даних з метою персоналізації реклами.
    p.text.paragraph.c19. 
      У випадку з персоналізацією реклами Google був впевнений, що отримав згоду користувачів,
      бо, по-перше, при створенні Google-aкаунтів користувач погоджується з Політикою конфіденційності,
      а по-друге, Google має розділ «Ads personalization», де можна вимкнути цю функцію.
    img.image(src="../assets/images/entry/entry-image-2.png", alt="")
    p.image-text.
      Так виглядає вікно налаштувань персоналізації реклами в Google-акаунті
    p.text.paragraph.c19. 
      Втім, CNIL так не вважає, оскільки інформація про персоналізацію реклами недостатньо чітко доноситься користувачам.
      Як приклад, Комісія стверджує, що відповідне вікно «Персоналізації» не містить інформації про всю множину Google-сервісів,
      які здійснюють збір і обробку персональних даних з цією метою (YouТube, Google search, Play Store, Google pictures, Gmail і т. д.),
      а отже, користувач не може усвідомити, в яких обсягах дані використовуються і як саме вони можуть комбінуватися.
    .content-after-image
      h3.title.h3.c20.medium.
        Отже, пройдемося по тексту рішення СNIL
      p.text.paragraph.c19. 
        Чому Франція, а не Ірландія. Google працює в Європі через юридичну особу в Ірландії.
        Але справу порушив не ірландський, а французький регулятор. Відбулося це от чому.
      p.text.paragraph.c19. 
        Якщо рішення щодо обробки даних ухвалюються будь-де за межами ЄС, то діє one stop mechanism
        – куди скарга надійшла, той орган її і розглядає. Оскільки центр прийняття рішень про обробку
        даних Google знаходиться в США, а скарга вперше надійшла у Франції – то CNIL її і розглядав.
      hr.line.bg13
      .links-wrap
        .reactangle
          img(src="../assets/svg/entry/facebook.svg", alt="")
        .reactangle
          img(src="../assets/svg/entry/telegram.svg", alt="")
        .reactangle
          img(src="../assets/svg/entry/linked-in.svg", alt="")