section.experience#exp
  ul.menu#expmenu 
    li.link.hero.transition.bold.gradient__link.active(href="#exp" onclick="showClients(1)"  ) Послідовні
    li.link.hero.transition.bold.gradient__link(href="#exp" onclick="showClients(2)" ) Клієнтоорієнтовані
    li.link.hero.transition.bold.gradient__link(href="#exp" onclick="showClients(3)" ) Інноваційні
    li.link.transition.hero.bold.gradient__link(href="#exp" onclick="showClients(4)" ).
        Бізнес-орієнтовані
        юристи
  .content-wrap
    .content.flex__wrap.flex__column
      h2.title.h2.c1 Перевертаємо уявлення про юридичні послуги
      p.text.c1. 
        Консолідуючи багаторічний досвід і практику, юристи компанії
        супроводжують складні проекти і досягають прийняття ряду важливих
        для галузі рішень. Багато з них формують практику застосування морського
        права в Україні.
  ul.group#expmenu2
    button.btn_1.bg3.active2(onclick="showClients2(1)")
    button.btn_1.bg3(id="clienter" onclick="showClients2(2)")
    button.btn_1.bg3(id="innovation" onclick="showClients2(3)")
    button.btn_1.bg3(id="buisines" onclick="showClients2(4)")