footer.footer.bg6#cont
  .flex__wrap.justify__sp-bt
    .contacts
      .information
        p.adress.paragraph-min.medium.c20 Одеса, Адміральський пр., 3
        a(href="../pages/contacts.html").link.h3-min.bold.c3 Подивитися на мапі
      .content
        a(href="#").icon-facebook.c3
        p.phone.paragraph-min.bold.c21 	+38 (050) 390 15 91
        a(href="#").link.paragraph-min.bold.c3 contact@hlegals.net
    p.copy.paragraph-min.c7 © 2021 ТОВ Юридична компанія «HLEGALS»