section.information-contacts
  .contacts 
    p.adress.c20
      span.adress-in.
        Одеса,</br>
      | Адміральський пр., 3
    hr.line1.bg22
    p.phone.c21.
      +38 (050) 390 15 95
    a.link.c3(href="#").
      contact@hlegals.net
    hr.line2.bg22
    .face-wrap
      a(href="#").icon-facebook.c3
      a(href="#").our-page.c3.
        Наша сторінка<br>
        в фейсбуці
  form.form.bg6 
    h3.slogan.hero-mobile.gradient__right.bold.
      Ми хотіли б Вам допомогти
    input.name(type="text" placeholder="Ім'я").
    input.text-area(type="textarea" placeholder="Повідомлення").
    h3.h3-caps.title.bold.
      Як вам відповісти?
    input.phone-number(type="text" placeholder="Номер телефона").
    input.email(type="text" placeholder="Чи email").
    button.btn__form.bg3.c1.bold Надіслати запит
    
    
      
