section.intro 
  .icon-wrap.bg1
    span.icon-basket.gradient__icon
  h1.slogan.hero.bold.gradient__right IT та електронна комерція
  p.text.text_1.c1.
    Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні
    папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й
    багато, щоб наймати інхауз-юриста.
  p.text.text_2.c1. 
    До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми
    добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері
    інформаційних технологій.
  button.btn__intro.bg3.c1.bold Безкоштовна консультація

