section.main-p
  .main-box
    img.image(src="assets/svg/main-p/p1.svg")
    img.image.image-p(src="assets/svg/main-p/p2.svg")
    .content
      h1.title.bold.c1 системний адміністратор<br> правових рішень
      button.btn_arrow.bg20#serv(onClick="window.scroll(0, 675);")
        img.arrow( src="assets/svg/scroll_arrow.svg")

  