section.publications.bg6#publ
  .grid
    .item.item_1.bg1
      .content
        h4.title.h4.medium.c3 Валютний контроль помер, хай живе валютний контроль!
        p.date 14 червня
        .line.bg13
        p.text.paragraph-min.c19 Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».
    .item.item_2.bg1
      img.image(src="../assets/images/publications/associate.png")
      .content
        h4.title.h4.medium.c3 Equity associate
        p.date 22 квітня
        .line.bg13
        p.text.paragraph-min.c19 На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…
    .item.item_3.bg1 
      img.image(src="../assets/images/publications/gdpr.png")
      .content
        h4.title.h4.medium.c3 Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR
        p.date 29 вересня
        .line.bg13
        p.text.paragraph-min.c19 І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.
    .item.item_4.bg1 
      img.image(src="../assets/images/publications/faces.png")
      .content
        h4.title.h4.medium.c3 Заповіт міленіала
        p.date 19 серпня
        .line.bg13
        p.text.paragraph-min.c19 Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери
      .shadow__publications
    .item.item_5.bg1
      img.image(src="../assets/images/publications/monument.png")    
      .shadow__publications
    .item.item_6.bg1
      img.image(src="../assets/images/publications/boy.png")
      .shadow__publications
  button.btn__publications.bg3.c1.bold Ще публікації  