section.services#serv
  .assets
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-basket.gradient__icon
        h3.h3.title.c3 IT та електронна комерція
      p.text.paragraph.c1 Нескінчений потік договорів, податкові питання,
        |трудові відносини, корпоративні папери — 
        |юридична робота відволікає вас від ведення
        | бізнесу. Але роботи не так вже й багато, щоб
        | наймати інхауз-юриста.  
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-case.gradient__icon
        h3.h3.title.c3 Комплексний щоденний юридичний супровід
      p.text.paragraph.c1 До того ж, з часом робота стане однотипною і
        |нецікавою для штатного юриста. А ще ми добре
        |знаємо, як важко в Україні знайти хорошого
        |кандидата з досвідом у сфері інформаційних
        |технологій.
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-structure.gradient__icon
        h3.h3.title.c3 Структуризація корпоративних відносин
      p.text.paragraph.c1 Замість просто надавати юридичні послуги, ми
        |закріпимо юриста або цілу команду, які
        |впишуться в повсякденне життя вашої компанії. 
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-command.gradient__icon
        h3.h3.title.c3 Побудовa договірних відносин
      p.text.paragraph.c1 Раз на тиждень, чи тиждень на місяць у вас під
        |боком є ваш власний юрист. Будь-хто в компанії
        |може впіймати його біля кавоварки і просто
        |поговорити про поточні справи замість
        |очікування статусу update.
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-shield.gradient__icon
        h3.h3.title.c3 Захист бізнесу, інтелектуальної власності
      p.text.paragraph.c1 А весь інший час він працюватиме над новими
        |різноплановими проектами, тому вже точно не
        |зупиниться в професійному розвитку. Так чи
        |інакше, на вас працюватиме весь Axon Partners
        |замість корпоративного юриста.
    a.item(href="pages/services_page.html")
      .item__mobile
        .icon-wrap.bg1
          span.icon-court.gradient__icon
        h3.h3.title.c3 Судове представництво
      p.text.paragraph.c1 Невелика компанія, середнього розміру, чи вже
        |лідер ринку? Локальний бізнес або
        |транснаціональна компанія? Маєте власний
        |юридичний відділ, чи ні?