section.services_this_way 
  .content
    ul.list 
      li.item
        p.text.paragraph.c1. 
          супровід інвестиційних проектів з розвитку портової інфраструктури;
      li.item
        p.text.paragraph.c1.
          паспортизація ГТС, внесення інформації про них в обов'язкові бази даних і реєстри;
      li.item
        p.text.paragraph.c1.
          оформлення дозвільної документації для будівництва портових терміналів;
      li.item
        p.text.paragraph.c1.
          оформлення дозвільної та іншої обов'язкової документації необхідної
          для здійснення діяльності в порту
          (дозвіл на викиди, висновок по ОВНС, РТК і ін.);
    ul.list
      li.item
        p.text.paragraph.c1.
          супровід процедур, пов'язаних з орендою державного майна в порту;
      li.item
        p.text.paragraph.c1.
          супровід процедур, пов'язаних з підтвердженням статусу портового оператора, морського агента, лінії закордонного плавання;
      li.item
        p.text.paragraph.c1.
          супровід процедур, пов'язаних з включенням компанії в межі порту;
      li.item
        p.text.paragraph.c1.
          оскарження дій пов'язанних з незаконним нав'язуванням послуг в порту компаніями-монополістами
