section.team_bio 
  img.image(src="../assets/images/team/team_guy.png")
  .content 
    h1.name.hero.gradient__right.bold.
      Олександр Кац
    .information
      p.position.paragraph-min.c7.
        Керуючий партнер
      a(href="#").link1.paragraph-min.c3.
        kac@hlegals.net
      a(href="#").link2.paragraph-min.c3.
        Профіль в LinkedIn
    hr.bg22
    .text
      p.text-1.paragraph.
        Олександр очолює практику міжнародної торгівлі та шиппінгу. Він спеціалізується на вирішенні спорів, пов'язаних з купівлею-продажем сировинних товарів і перевезенням товарів морем.
      p.text-2.paragraph.  
        Десис представляє інтереси судновласників, експедиторів, вантажовласників, морських агентів, контейнерних ліній, а також міжнародних банків і клубів P & I.
      h3.title.h3-caps.c20.bold.
        Освіта
      p.text-3.paragraph.
        Національний університет «Одеська юридична академія», магістр права.
      h3.title.h3-caps.c20.bold.
        Досвід роботи
      p.text-3.paragraph.
        До його професійного досвіду відноситься врегулювання суперечок за англійським правом і представництво інтересів в іноземних комерційних арбітражах, таких як GAFTA, FOSFA та LMAA. Данило також представляє інтереси клієнтів у державних судах України по аналогічним спорах, а також в МКАС і МАК при ТПП України