section.team#team
  .rectangle.bg6#teamblock
    .carousel__wrap
      .carousel(style="margin-top: 0;")#carouselteam
        .item-team 
          .flex__wrap
            img.image-guy(src="assets/images/team/team_guy.png")#teamimage
            h4.name__mobile.h4.medium.c7 Олександр Олександровський
              p.position__mobile.paragraph-min.c7 Керуючий партнер
          .content
            .info.flex__wrap
              a.link.h3-caps.c3.bold(href='#') команда
              img.link-arrow(src="assets/svg/link_arrow_blue.svg" href='#')
            h1.title.hero.bold.gradient__right Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
            h4.name.h4.medium.c7 Олександр Олександровський
            p.position.paragraph-min.c7 Керуючий партнер
        .item-team
          .flex__wrap
            img.image-guy(src="assets/images/team/team_guy2.png")#teamimage
            h4.name__mobile.h4.medium.c7 Аркадий Инакентиевич
              p.position__mobile.paragraph-min.c7 Работник
          .content
            .info.flex__wrap
              a.link.h3-caps.c3.bold(href='#') команда
              img.link-arrow(src="assets/svg/link_arrow_blue.svg" href='#')
            h1.title.hero.bold.gradient__right Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
            h4.name.h4.medium.c7 Аркадий Инакентиевич
            p.position.paragraph-min.c7 Работник
        .item-team
          .flex__wrap
            img.image-guy(src="assets/images/team/team_guy3.png")#teamimage
            h4.name__mobile.h4.medium.c7 Олександр Олександровський
              p.position__mobile.paragraph-min.c7 Керуючий партнер
          .content
            .info.flex__wrap
              a.link.h3-caps.c3.bold(href='#') команда
              img.link-arrow(src="assets/svg/link_arrow_blue.svg" href='#')
            h1.title.hero.bold.gradient__right Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
            h4.name.h4.medium.c7 Олександр Олександровський
            p.position.paragraph-min.c7 Керуючий партнер
  ul.group#teammenu
    button.btn_1.bg3.active2(onclick="showTeam1(1)")
    button.btn_1.bg3(onclick="showTeam2(2)")
    button.btn_1.bg3(onclick="showTeam3(3)")