section.team_team
  .team
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Олександр Олександровський
          p.position.paragraph-min.c7.
            Керуючий партнер
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy2.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Оксана Кобзар
          p.position.paragraph-min.c7.
            Equity partner, Attorney-at-law
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy3.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Владислав Мельник
          p.position.paragraph-min.c7.
            Associate
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy4.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Владислав Мельник
          p.position.paragraph-min.c7.
            Associate
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy5.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Оксана Кобзар
          p.position.paragraph-min.c7.
            Equity partner, Attorney-at-law
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")
    a.item(href="../pages/team_page.html")
      img.image(src="../assets/images/team/team_guy6.png", alt="")
      .content-wrap
        .content
          h4.h4.name.c20.medium. 
            Юлія Гудименко
          p.position.paragraph-min.c7.
            Associate, Attorney-at-law
        button.btn_3
          img.btn_arrow(src="../assets/svg/link_arrow_blue2.svg", alt="")