doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../styles/fonts/fonts.css")
    link(rel="stylesheet", href="../styles/publications.css")
    title Document
  body.introduction
    .publications-light
      include ../parts/header2
    .bg-grey-publ.bg6
      .container.pos-rel
        include ../parts/publications_publ
      .container
        hr.bg22
      .container
        include ../parts/footer2
    script(src="../js/main.js")