doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../styles/fonts/fonts.css")
    link(rel="stylesheet", href="../styles/team_page.css")
    title Document
  body
    .team-light 
      include ../parts/header2.pug
    .container
      include ../parts/team_bio.pug
    .bg-grey.bg6 
      .container 
        include ../parts/footer2.pug
    script(src="../js/main.js")

      
