@import "common";
@import "header";
@import "intro";
@import "services_this_way";
@import "cases";
@import "publications";
@import "footer";



.bg-image{
  width: 100%;
  min-height: 65vh;
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../assets/images/services_page/keyboard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 130px;
}

.subject{
  margin: 20px 0;
  @media (max-width: 600px){
    @include font(18, 21);
  }
}

.margin-40{
  margin-top: 40px;
}
